{% extends "base.html" %}

{% load thumbnail %}

{% block title %}{{ category.name }}{% endblock %}
{% block base_content %}

{% for item in object_list %}
    <div class="item">
        <div class="thumb">
            {% thumbnail item.get_image_url "100x100" crop="center" as im %}
                <a href="{{ item.get_absolute_url }}" title="{{ item.name }}">
                    <img src="{{ im.url }}" title="{{ item.name }}" alt="{{ item.name }}">
                </a>
            {% endthumbnail %}
        </div>
        <div class="info">
            <h2><a href="{{ item.get_absolute_url }}" title="{{ item.name }}">{{ item.name }}</a></h2>
            <p class="price">{{ item.price }} CZK</p>
        </div>
        <div class="divider"></div>
    </div>
{% endfor %}

{% if is_paginated %}
<ul class="pagination">
    {% if page_obj.has_previous %}
        {% if page_obj.previous_page_number != 1 %}
            <li><a href="?page=1">1</a></li>
            {% if page_obj.previous_page_number != 2 %}
                <li>...</li>
            {% endif %}
        {% endif %}
        <li><a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
    {% endif %}
    <li>{{ page_obj.number }}</li>
    {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
        {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
            {% if page_obj.next_page_number != page_obj.paginator.num_pages|add:"-1" %}
                <li>...</li>
            {% endif %}
            <li><a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
        {% endif %}
    {% endif %}
</ul>
<div class="divider"></div>
{% endif %}

{% endblock %}