{% extends "base.html" %}

{% block title %}{{ object.name }}{% endblock %}
{% block base_content %}

    <div class="item">
        <h2>{{ object.name }}</h2>
        <h3>{% for category in object.get_category_tree %}<a href="{{ category.get_absolute_url }}" title="{{ category.name }}">{{ category.name }}</a>{% if not forloop.last %} | {% endif %}{% endfor %}</h3>
        <img src="{{ object.get_image_url }}" title="{{ item.name }}" alt="{{ item.name }}">
        <p class="price">{{ object.price }} CZK</p>
        <p class="description">{{ object.description }}</p>
    </div>

{% endblock %}