<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs" xmlns="http://www.w3.org/1999/html">
<head>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <meta content="text/html; charset=utf-8" http-equiv="content-type" />
    <meta content="cs" http-equiv="content-language" />
    <meta name="description" content="Domácí úkol">
    <title>{% block title %}{% endblock %} - tiscali</title>
    <link href="{{ STATIC_URL }}css/screen.css" media="screen" rel="stylesheet" type="text/css" />

    {% block extrahead %}{% endblock %}

</head>
<body>

<div class="header">
    <p>Hlavička domácího úkolu a menu</p>
    <ul class="menu_ul">
    {% for category in MAIN_CATEGORIES %}
        <li>
            <a href="{{ category.get_absolute_url }}" title="{{ category.name }}">{{ category.name }}</a>
            {% if category.children.all %}
                <ul class="child_category">
                    {% for child in category.children.all %}
                        <a href="{{ child.get_absolute_url }}" title="{{ child.name }}">{{ child.name }}</a>
                        {% if child.children.all %}
                            <ul>
                                {% for second_child in child.children.all %}
                                    <li>
                                        <a href="{{ second_child.get_absolute_url }}" title="{{ second_child.name }}">{{ second_child.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <div class="divider"></div>
                        {% endif %}
                    {% endfor %}
                </ul>
                <div class="divider"></div>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    <div class="divider"></div>
</div>

<div class="base_content">
    {% block base_content %}{% endblock %}
</div>

<div class="footer">
    Toto je patička domácího úkolu...
</div>

</body>
</html>
