
div.header {
    border-bottom: 1px solid black;
    padding: 30px;
}

div.divider {
    clear: both;
}

div.header .menu_ul li {
    list-style-type: none;
    display: block;
    float: left;
    padding: 5px 10px;
}

div.footer {
    border-top: 1px solid black;
    padding: 30px;
}

div.item {
    border-bottom: 1px solid #aaa;
    padding-bottom: 10px;
}

div.item div.thumb {
    display: block;
    float: left;
    width: 120px;
}

ul.pagination li {
    list-style-type: none;
    display: block;
    float: left;
    padding: 5px 10px;
}

p.price {
    color: red;
    font-size: 1.2em;
}
